{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block optional %}
	<link rel="stylesheet" href="{% static "blog/css/content-styles.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/blog_create.css" %}">
    {{ form.media }}
{% endblock %}

{% block title %}
	Blog - Update
{% endblock %}

{#TODO: changin the look of this page#}
{% block content %}
    <div>
        <form method="post" class="py-2 px-3 justify-content-center">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>

{% endblock %}
