{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block optional %}
    <link rel="stylesheet" href="{% static "css/content-styles.css" %}">
{% endblock %}

{% block title %}
	Blog - Create
{% endblock title %}

{% block content %}
	{% if user.is_authenticated %}
        <form method="post" class="py-2 px-3 border justify-content-center">
            {% csrf_token %}
{#            <div>#}
{#                <lable for="id_title" required>Title *</lable>#}
{#                <input type="text" id="id_title" name="{{ form.title.name }}">#}
{#            </div>#}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    {% endif %}
{% endblock content %}
