{% extends '_base.html' %}

{% block title %}
    Blog - List
{% endblock %}

{% block content %}
    <div class="row">
        {% for blog in blogs %}

            <div class="col-sm-4 mt-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <h6 style="color: #1a3047"> Author: {{ blog.author }}</h6>
                        <h6 class="card-"></h6>
                        <p class="card-text">{{ blog.blog|truncatechars:100|safe }}</p>
                        <a href="{{ blog.get_absolute_url }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}